@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik !important;
}

body,
html {
    height: 100%;
    background: #1c1c1c;
}

h2 {
    margin: 0
}

body {
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

main {
    width: 800px
}

header {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

section {
    background-color: #fff;
    border-radius: 2rem;
}

#notes {
    width: 100%
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px
}

#notes {
    padding: 10px;
}

.data {
    font-size: 15px;
    color: #202124;
    line-height: 1.4;
}

#notes .m {
    overflow: hidden;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    border-radius: 30px
}

#notes .data {
    border: solid 1px transparent;
    cursor: pointer;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px
}

#notes p:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#notes p:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#notes .m:hover .data {
    background: #e8f0fe;
    border-radius: 30px;
    cursor: pointer
}

section {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #161616;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.first {
    display: flex;
    align-items: center;
}

.opt {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.size {
    font-size: 11px;
    color: #fff;
    padding: 4px 12px;
    background: #116025;
    border-radius: 12px;
}
time {
    padding: 4px 20px;
    border-radius: 15px;
    font-size: 13px;
    opacity: 0.8;
}

.doc-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.doc-icon::after,
.doc-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.doc-icon::before {
    background: currentColor;
    box-shadow:
        0 4px 0,
        -6px -4px 0;
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px
}

.doc-icon::after {
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}

.di {
    width: 40px;
}